.nav{
    max-inline-size: 100%;
    border-radius: 20px;
    background-color: var(--timeBg);
}

.avatar{
    max-inline-size: 100%;
    background-color: var(--avatarBg2);
    padding: 40px;
    border-radius: 20px;
    @media(width<850px){
        display: flex;
        gap:20px;
    }

}

.time{
    max-inline-size: 100%;
    padding: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    line-height: 40px;
     @media(width<850px){
        display: flex;
        padding: 20px;
        justify-content: space-between;
    }
}

button{
    position: relative;
    margin-block: 35px;
    border: none;
    display: block;
    background-color: var(--timeBg);
    font-family: var(--fontFamily);
    color: var(--fontColor);
    font-size: 1.2rem;
}

button:hover,
button:focus{
    color: var(--avatarBg);
    cursor: pointer;
}

.avatar img{
    max-inline-size: 80px;
    border:4px solid var(--fontColor);
    border-radius: 100%;
    margin-bottom: 30px;
}

.avatar h3{
    color:var(--avatarBg);
}


.name{
    font-size: 2.5rem;
    line-height: 40px;
    color: var(--fontColor);
}