@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*fonts*/
    --fontFamily:'Rubik';
    --fontSize:1.4rem;
    --fontColor:hsl(0, 0%, 100%);
    /*backgrounds*/
    --mainBg:hsl(226, 43%, 10%);
    --avatarBg:hsl(236, 100%, 87%);
    --avatarBg2:hsl(246, 80%, 60%);
    --timeBg:hsl(235, 46%, 20%);
    --workBg:hsl(15, 100%, 70%);
    --exerciseBg:hsl(145, 58%, 55%);
    --playBg:hsl(195, 74%, 62%);
    --studyBg:hsl(348, 100%, 68%);
    --selfCareBg:hsl(43, 84%, 65%);
    --socialworkBg:hsl(264, 64%, 52%);
}

body{
    background-color: var(--mainBg);
    font-family: var(--fontFamily);
    color: var(--fontColor);
    padding-top: 15%;
}

img{
    display: block;
    max-inline-size: 100%;
}

.page{
    display: flex;
    align-items: start;
    gap: 40px;
    
    justify-content: center;
}

.wrapper{
    max-inline-size: 100%;
    display: grid;
    gap: 10px;
    @media(width>850px){
        grid-template-columns: repeat(3,1fr);
    };    
}

